<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Option - 3</title>
</head>
<body>
    <div class="option3">
        <table style="max-width: 600px;width:600px;font-family: Arial;
        ">
            <tr>
                <td style="padding: 30px 11px 30px 30px;"><span style="
                    color:#231F20;                    
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 125%;">First and Last Name</span><br>
                    <span style="
                    color: #231F20;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;">Job Title | Department</span>
                    <hr>
                    <table style="font-size: 12px; ">
                        <tr>                            
                            <td style="padding-bottom: 8px;"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/phone.png" alt="phone"> 000.000.0000</td>
                        </tr>
                        <tr>                            
                            <td style="padding-bottom: 8px;"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/email.png" alt="email"> <a style="text-decoration: none; color:#231F20;" href="mailto:example@email.com">example@email.com</a></td>
                        </tr>
                        <tr>                            
                            <td style="padding-bottom: 8px;"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/location.png" alt="location"> Ai, 5383729</td>
                        </tr>
                    </table>
                    <br>
                    <div>
                        <a style="                        
                        padding: 6px 10px;
                        border-radius: 20px;
                        background: #6A8085;
                        color:#fff;
                        text-decoration: none;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;"href="#">Book with me</a>
                    </div>
                </td>
                <td style="max-width: 236px;width: 236px; padding: 26px 0;">
                    <table style="text-align: center; margin: 0 auto;">
                        <tr>
                            <td colspan="5" style="padding-bottom: 8px;">
                                <img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/img-logo-color-m.png" alt="facebook">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Facebook-2.png" alt="Facebook"></a>
                            </td>
                            <td>
                                <a href="#"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/X.png" alt="X"></a>
                            </td>
                            <td>
                                <a href="#"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Linkedin-1.png" alt="Linkedin"></td>
                            </td>
                            <td>
                                <a href="#"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Instagram-1.png" alt="Instagram"></td>
                            </td>
                            <td>
                                <a href="#"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Website-1.png" alt="Website"></td>
                            </td>
                            
                        </tr> 
                        <tr>
                            <td colspan="5" style="padding-bottom: 6px;">
                                <span style="font-size: 12px;                                
                                font-weight: 400;">Office contact information</span>
                            </td>
                        </tr> 
                        <tr>                            
                            <td colspan="5" style="padding-bottom: 6px;"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/phone.png" alt="phone"> <span style="font-size: 12px; ">000.000.0000</span></td>
                        </tr> 
                        <tr>                            
                            <td colspan="5"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/email.png" alt="email"> <a style="font-size: 12px;  text-decoration: none; color:#231F20;" href="mailto:example@email.com">example@email.com</a></td>
                        </tr>                                            
                                            
                    </table>
                </td>
            </tr>
        </table>
    </div> 
</body>
</html>
