<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Option - 2</title>
</head>
<body>
    <div class="option1">
        <table style="max-width: 600px;width:600px;font-family: Arial;
        ">
            <tr>
                <td style="padding: 30px 50px 30px 30px;"><span style="
                    color:#231F20;                    
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 125%;">First and Last Name</span><br>
                    <span style="
                    color: #231F20;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;">Job Title | Department</span>
                    <hr>
                    <table>
                        <tr>
                            <td><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/phone.png" alt="phone"></td>
                            <td>000.000.0000</td>
                        </tr>
                        <tr>
                            <td><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/email.png" alt="email"></td>
                            <td><a style="text-decoration: none; color:#231F20;" href="mailto:example@email.com">example@email.com</a></td>
                        </tr>
                        <tr>
                            <td><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/location.png" alt="location"></td>
                            <td>Ai, 5383729</td>
                        </tr>
                    </table>
                    <br>
                    <div>
                        <a style="                        
                        padding: 6px 10px;
                        border-radius: 20px;
                        background: #6A8085;
                        color:#fff;
                        text-decoration: none;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;"href="#">Book with me</a>
                    </div>
                </td>
                <td style="background-color: #3C3C3C; max-width: 220px;width: 220px; padding: 26px 0 18px;">
                    <table style="text-align: center; margin: 0 auto;">
                        <tr>
                            <td>
                                <a href="#"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Facebook.png" alt="facebook"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/x.png" alt="x"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Linkedin.png" alt="Linkedin"></a>
                            </td>
                        </tr>                        
                        <tr>
                            <td>
                                <a href="#"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Website.png" alt="Website"></td>
                            </td>
                        </tr>    
                        <tr>
                            <td>
                                <img style="text-align: center; margin-top:28px;" src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/img-logo-example.png" alt="logo">
                            </td>
                        </tr>                     
                    </table>
                </td>
            </tr>
        </table>
    </div> 
</body>
</html>
