<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Option - 4</title>
</head>
<body>
    <div class="option4">
        <table style="max-width: 600px;width:600px;font-family: Arial;
        ">
            <tr>
                <td style="padding: 30px;"><span style="
                    color:#231F20;                    
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 125%;">First and Last Name</span><br>
                    <span style="
                    color: #231F20;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;">Job Title | Department</span>
                    <hr>
                    <table style="font-size: 12px; ">
                        <tr>                            
                            <td colspan="4"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/phone.png" alt="phone"> 000.000.0000</td>
                        </tr>
                        <tr>                            
                            <td colspan="4"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/email.png" alt="email"><a style="text-decoration: none; color:#231F20;" href="mailto:example@email.com"> example@email.com</a></td>
                        </tr>
                        <tr>                            
                            <td colspan="4"><img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/location.png" alt="location"> Ai, 5383729</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/facebook-g.png" alt="facebook">
                            </td>
                            <td>
                                <img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Linkedin-g.png" alt="Linkedin-g">
                            </td>
                            <td>
                                <img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Instagram-g.png" alt="Instagram-g">
                            </td>
                            <td>
                                <img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Website-g.png" alt="Website-g">
                            </td>
                        </tr>  
                    </table>
                    <br>
                    <img src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/img-logo-color-m.png" alt="logo">
                </td>
                <td>
                        <img style="object-fit: cover;" src="https://5915953.fs1.hubspotusercontent-na1.net/hubfs/5915953/Email%20Signatures/Profile.jpg" alt="profile" width="217" height="245">
                </td>
            </tr>
        </table>
    </div> 
</body>
</html>
